@charset "UTF-8";
/*Fontes: 
    Titulo: Quicksand
    Texto: Josefin Sans

    Cores:
        #173261
        #a9a9a9
        #343538
        #fff
*/

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --cor1: #f2f0f0;
    --cor2: #a9a9a9;
    --cor3: #343538;
    --cor4: #173261;

    --font-titulo: 'Quicksand', sans-serif;
    --font-texto: 'Josefin Sans', sans-serif;
}

/* Tira todas as margens */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-texto);
    font-size: 1.2em;
}

#inicio{
    background-color: #000;
}

#inicio a{
    color: #FFC0CB;
}

.container{
    margin: 0 auto;
    
}
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
    
}
.botao{
    text-decoration: none;
    color: var(--cor2);
    font-size: 1.2em;
    font-weight: 700;
    background-color: #000;
    color: #FFC0CB;
    padding: 10px 40px;
    border: 2px solid var(--cor2);
    border-radius: 25px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex2{
    display: flex;
    align-items: center;
}
.flex3{
    display: flex;
    flex-direction: column;
}
.flex4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex5{
    display: flex;
    flex-direction: column-reverse;
}
.flex6{
    display: flex;
    justify-content: space-around;
}

/* CONTEUDO */
.card{
    margin-top: 25px;
    width: 338px;
    height: 540px;
    background-color: #FFC0CB;
    border: 1px solid var(--cor3);
    border-radius: 25px;
    text-align: center;
}
.card img{
    border-radius: 25px 25px 0px 0px;
}
.card h3{
    margin-top: 15px;
}
.card h4{
    text-align: center;
    padding: 10px 30px 50px 30px;
    color: #000;
}
.card a{
    padding: 10px 100px;
    border: 0;
}

#textoModelos{
    margin-top: -20px;
}

/*SMARTPHONE PORTAIT*/  
header{
    height: 60px;
}
.logo img{
    width: 128px;
    height: 128px;
}
#check{
    display: none;
}
 label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: #FFC0CB;
} 
nav ul{
    list-style: none;
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}
#check:checked ~ ul{
    right: 0;
}
nav ul li{
    padding: 20px;
    border-bottom: 1px solid var(--cor1);
}
nav ul li a{
    text-decoration: none;
    color: var(--cor2);
}
main{
    height: 75vh;
    background-color: #FFC0CB;
    background-size: cover;
    background-position: center;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main h1{
    font-size: 2.5em;
}
main h2{
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}
/* ONE PAGE */
.video iframe{
    width: 340px;
    height: 191px;
    
}
#onepage{
    padding: 50px 10px;
}
#onepage h2{
    margin-bottom: 10px;
}
#onepage p{
    margin-bottom: 25px;
}

/* Sobre */
#sobre{
    padding: 50px 0px;
    background: url(img/cilios.jpg);
    background-size: cover;
    background-position: center;
}

.destaque_sobre{
    display: none;
}
.texto_sobre{
    color: #000;
    padding: 0px 10px;
}
.texto_sobre h2{
    margin-bottom: 10px;
    color: #000;
}
.topico_sobre{
    margin-top: 20px;
}
.topico_sobre img{
    margin-right: 10px;
}
/* WIREFRAME */
#wireframe{
    padding: 50px 0px;
    background: url(img/cilios.jpg);
    background-size: cover;
    background-position: center;
}
.texto_wire{
    color: var(--cor1);
    padding: 0px 10px;
    color: #000;
}
.texto_wire h2{
    margin-bottom: 10px;
}
.texto_wire p{
    margin-bottom: 40px;
}
.texto_wire span{
    display: none;
}
.qrcode{
    display: none;
}

/* Cartões */
#conteudo{
    padding: 50px 0px;
}
#conteudo h2{
    padding-bottom: 25px;
    text-align: center;
}

/* RODAPE */
address{
    padding: 35px 10px 50px 10px;
    background-color: #FFC0CB;
    background-size: cover;
    background-position: center;
    color: #000;
}
address a{
    text-decoration: none;
    color: #000;
}
address img{
    padding-top: 15px;
}.icone_local{
    display: none;
}
.dados{
    margin: 30px 0px 15px 0px;
}
.google-maps{
    display: none;
}
footer{
    padding: 50px;
    background: var(--cor3);
    color: var(--cor1);
    text-align: center;
}

.contato{
    margin-top: 60px;
}
.social{
    margin-bottom: 25px;
}
.social a{
    text-decoration: none;
}

/*SMARTPHONE LANDSCAPE*/
@media (min-width: 576px){
    /* body{
        background: #106610;
    } */
    /*layout*/
    .container{
        max-width: 540px;
    }
    main h1, main h2{
        text-shadow: #000 0.5em 0.5em 0.5em;
    }

    /* ONE PAGE */
    .video img{
        width: 560px;
        height: 315px;
        
    }
    
    /* RODAPE */
    .flex5{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

/*TABLET PORTAIT*/
@media (min-width: 768px){
    /* body{
        background: #596158;
    }  */
    /*layout*/
    .container{
        max-width: 720px;
    }
    main{
        height: 45vh;
    }
    main h1{
        font-size: 5.5em;
    }
    main h2{
        font-size: 2em;
    }
}
/*TABLET LANDSCAPE*/
@media (min-width: 992px){
    /* body{
        background: #101166;
    }    */
    /*layout*/
    .container{
        max-width: 960px;
    }
    main{
        height: 70vh;
    }
}
/*PC*/
@media (min-width: 1200px){
    body{
        background: #ffffff;
    }
    /*layout*/
    .container{
        max-width: 1140px;
    }
    header{
        height: 125px;
    }
    .logo img{
        width: 189px;
        height: 189px;
        margin-top: 30px;
        margin-left: 30px;
    }
    label{
        display: none;
    }
    nav ul{
        position: static;
        height: auto;
        margin: 50px;
    }
    nav ul li{
        float: left;
        border: 0;
    }
    nav ul li a{
        color: var(--cor2);

    }    
    nav ul li a:hover{
        color: var(--cor4);
        
    }
    /* Sobre */
    .destaque_sobre{
        display: inline;
    }
    .destaque_sobre img{
        border-radius: 50%;
        margin-right: 50px;
    }

    .video img{
        border-radius: 50%;
        margin-right: 50px;
    }

    #sobre{
        background-attachment: fixed;
    }

    /* ONE PAGE */
    .flex3{
        flex-direction: row;
        align-items: center;
    }

    /* WIREFRAME */
    #wireframe{
        background-attachment: fixed;
    }
    #wireframe span{
        display: inline;
        color: var(--cor4);
        font-weight: 700;
    }
    .qrcode{
        display: inline;
    }

    /* RODAPE */
    .icone_local{
        display: inline;
    }
    .icone_mapa{
        display: none;
    }
    .google-maps{
        display: inline;
    }
    .flex6{
        flex-direction: row-reverse;
    }
}